.agent-profile-container {
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
}

.agent-profile-content > *, .agent-profile-content > * > * {
    margin-top: 5%;
    font-weight: normal;
}

.agent-profile-heading {
    text-align: center;
    margin-bottom: 5%;
}

.agent-profile-name {
    color: black;
}

.agent-profile-image {
    margin: auto;
    display: block;
    height: 70%;
    width: 70%;
}

.agent-profile-content {
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
    /* text-align: left; */
    padding-left: 5%;
    padding-right: 5%;
}

.agent-profile-text {
    padding-bottom: 5%;
    /* background: ; */
}