.landing-page-main {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    /* border: 1px solid pink; */
}

.landing-page-heading {
    position: absolute;
    top: 16%;
    left: 33%;
    font-size: 4.3em;
    font-weight: 600;
    font-family: Roboto;
    color: var(--tertiary-color);
    text-align: center;
    animation: fadeIn linear 3.5s;
    -webkit-animation: fadeIn linear 3.5s;
    -moz-animation: fadeIn linear 3.5s;
    -o-animation: fadeIn linear 3.5s;
    -ms-animation: fadeIn linear 3.5s;
     
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}