.landing-page-main {
    height: 100vh; 
    width: 100vw; 
    position: relative; 
    z-index: 0;
    /* border: 1px solid pink;  */

}



.landing-page-heading {

    position: absolute;
    block-size: fit-content;
    display: table;             /* Fixed Firefox issue */ 
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: fit-content;
    top: 23%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
    font-weight: 300;
    font-style: italic;
    font-family: Roboto;
    color: var(--quarternary-color);
    /* text-align: center; */
    animation: fadeIn 2.5s ease;
    -webkit-animation: fadeIn 2.5s ease;
    -moz-animation: fadeIn 2.5s  ease;
    -o-animation: fadeIn 2.5s  ease;
    -ms-animation: fadeIn 2.5s  ease;
     
}

@keyframes fadeIn {
    from { opacity: 0;}
}

@-moz-keyframes fadeIn {
    from { opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0;}
}

@-o-keyframes fadeIn {
    from { opacity: 0;}
}