.sell-a-home-main {
    /* height: 100vh; */
}

.sell-a-home-heading {
    text-align: center;
    font-size: 4vh;
}

.sell-a-home-button-group {
    display: flex;
    justify-content: space-evenly;
    margin: 4vh;
}


.sell-a-home-button {


    display: inline-block;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.9rem 1rem;
    width: 35rem;
    height: 30rem;
    /* background: transparent; */
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 200;
    line-height: 1.6;
    opacity: .6;
    transition: 0.7s;
}

.sell-a-home-button:hover {
    color: var(--quarternary-color);
    opacity: 1;
}
.sell-a-home-content {
    position: relative;
    height: 78vh;
    animation-name: sell-a-home-content;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.sell-a-home-content[animation='1'] {
    animation: fadeInSellAHomeContent .5s 1;
}

.sell-a-home-paragraph {
    margin-left: 4%;
    width: 45%;
}

.sell-a-home-image {
    position: absolute;
    width: 600px;
    height: auto;
    right: 5vw;
    bottom: 0;
}

@keyframes fadeInSellAHomeContent {
    from { opacity: 0; }
    to { opacity: 1; }
}