.page-title {
  font-size: 50px;
}

.child-text {
  font-size: large;
  font-weight: 350;
  padding-bottom: 3vh;
  width: 80%;
  line-height: 1.5;
  text-align: center;
}

/* Initial state for the component when it's loading */
.listings-manager-loading {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* Transition for gradual fade-in */
}

/* Final state for the component once it's loaded */
.listings-manager-loaded {
  opacity: 1;
  animation: fadeInLayers 1.5s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Keyframes for the layered fade-in effect */
@keyframes fadeInLayers {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 40px;
    text-align: center;
  }
  .child-text {
    font-size: medium;
    text-align: center;
    width: 80%;
  }

  .listings-manager-loaded {
    width: fit-content;
  }
}
