.listing {
    width: 48%;
    height: 53%;
    background-color: var(--senary-color);
    box-sizing: border-box;
    display: inline-block;
    margin: 1vh;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.listing-image-container {
    height: 70%;
    width: auto;
    text-align: center;
}

.listing-image {
    height: 100%;
    width: auto;
}

.listing-content {
    padding-top: 20px;
}

@media screen and (max-width: 900px) {
    .listing {
        width: 96%;
    }
}