.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('./images/background.jpeg');
    background-position: center;
    background-size: cover;
    filter: brightness(85%);
    z-index: -1;
}

.navigation-bar {
    position: relative;
    width: 100vw;
    top: 1%;
    left: 1%;
}

.navigation-bar img {
    border-radius: 5px;
    width: 10.5vw;
    height: 10vh;
}


.navigation { 
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;

}
.navigation h1 {
    color: black; 
    font: roboto;
}

.slogan {
    color: black;
    text-align: center;
    position: relative;
    top: 60vh;
}