/* Reset styles for body and html */
html,
body {
  overflow-x: visible;
}

:root {
  --primary-color: #fafafa; /* Light off-white for background */
  --secondary-color: #007aff; /* Apple blue for primary buttons */
  --tertiary-color: #333333; /* Dark gray for text */
  --quarternary-color: #eaeaea; /* Light gray for elements like navbar */
  --quinary-color: #d1d1d6; /* Light gray for secondary buttons */
  --senary-color: rgba(0, 0, 0, 0.1); /* Subtle shadow */
  --septenary-color: rgba(0, 0, 0, 0.05); /* Lighter shadow for hover effects */
  --scroll-top: auto;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Change this to your preferred weight */
}

h1 {
  color: var(--tertiary-color);
  text-align: center;
}

button {
  cursor: pointer;
}

.main {
  position: relative;
  background-color: var(--primary-color);
  text-align: center;
}

.page {
  margin-top: 10vh;
  position: relative;
}

.error {
  border: 1px solid red;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.content-overlay {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

/* Define a fade-in and fade-out animation */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
}

@media (max-width: 999px) {
  .content-overlay {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
}
