* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   font-family: 'Roboto',serif;
}

:root {
  --primary-color: rgba(240, 234, 214);
  --secondary-color:rgb(211, 122, 71);
  /* --secondary-color: #73584b; */
  --tertiary-color: rgba(143,20,2,1);
  --quarternary-color: #efeae6;
  --quinary-color: #4e81d5;
}

p {
    color: var(--tertiary-color);
    /* font-size: 1.5vw; */
}

h1 {
  color: var(--quarternary-color);
  text-align: center;
}

button {
    cursor: pointer;
}

img {
  max-width: 100%;
}

.main {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    position: relative;
    background-color: var(--primary-color);
    text-align: center;
}

/* .landing-page-image {
  position: absolute;
  height: 90vh;
  width: 90%;
  top: 75px;
  left: 50%;
  transform: translate(-50%,0);
  filter: brightness(85%);
} */

.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url('./images/background-large.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
    z-index: 0;
}

.navigation { 
  border-radius: 12px;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 2vh 0 2vh 0;
  margin: 50px 0 10px 0;
  left: 50%;
  transform: translate(-50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 1;
}

.logo {
  border-radius: 5px;
  width: 230px;
  height: 75px;
}

.navigation-button {
  white-space: nowrap;
  text-align: center;
  color: var(--quarternary-color);
  font-size: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  margin: 0 10px 0 10px;
  flex-basis: auto;
  border-radius: 10%;
  box-shadow: inset 0 0 0 0 rgba(211, 122, 71, .8);
  transition: linear .8s;
} 

.navigation-button:hover {
   /* background-color: transparent; */
    /* color: var(--secondary-color);
    transform: scale(1.1); */
    box-shadow: inset 20vw 0 0 0 rgba(211, 122, 71, .8);
    cursor: pointer;
}

.navigation-button:active {
  transform: scale(.9);
}

.navigation-logo {
    background: transparent;
    border: none;
}

.page {
    margin-top: 10vh;
    padding-top: 75px;
    position: relative;
}

.slogan {
  color: var(--quarternary-color);
  text-align: center;
  position: relative;
  top: 60vh;
}

.show-contact-form {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.display-none {
  display: none;
}

.modal-button {
  position: fixed;
  top: 80vh;
  right: 5vw;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.9rem 1rem;
  align-items: center;
  width: fit-content;
  color: var(--quarternary-color);
  background-color: var(--quinary-color);
  border: none;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.6;
  z-index: 1;
  opacity: .85;
  transition: 0.3s;
  animation: scaleIn 19s infinite;
  animation-delay: 2.5s;
} 

.modal-button-text:before {
  content: 'Contact Us';
  margin-left: 8px;
}

@keyframes scaleIn {
  4.7%{ 
    transform: scale(1.20);
  }
  9.5% { 
    transform: scale(1);
  }

  14.2%{ 
    transform: scale(1.20);
  }
  18.9% { 
    transform: scale(1);
  }

  23.57%{ 
    transform: scale(1.20);
  }
  28.2% { 
    transform: scale(1);
  }

  32.97%{ 
    transform: scale(1.20);
  }
  37.67% { 
    transform: scale(1);
  }

  42.37%{ 
    transform: scale(1.20);
  }
  47% { 
    transform: scale(1);
  }
}

@-webkit-keyframes scaleIn {
  4.7%{ 
    transform: scale(1.20);
  }
  9.5% { 
    transform: scale(1);
  }

  14.2%{ 
    transform: scale(1.20);
  }
  18.9% { 
    transform: scale(1);
  }

  23.57%{ 
    transform: scale(1.20);
  }
  28.2% { 
    transform: scale(1);
  }

  32.97%{ 
    transform: scale(1.20);
  }
  37.67% { 
    transform: scale(1);
  }

  42.37%{ 
    transform: scale(1.20);
  }
  47% { 
    transform: scale(1);
  }
}

@-o-keyframes scaleIn {
  4.7%{ 
    transform: scale(1.20);
  }
  9.5% { 
    transform: scale(1);
  }

  14.2%{ 
    transform: scale(1.20);
  }
  18.9% { 
    transform: scale(1);
  }

  23.57%{ 
    transform: scale(1.20);
  }
  28.2% { 
    transform: scale(1);
  }

  32.97%{ 
    transform: scale(1.20);
  }
  37.67% { 
    transform: scale(1);
  }

  42.37%{ 
    transform: scale(1.20);
  }
  47% { 
    transform: scale(1);
  }
}

.modal-button:hover {
    opacity: 1;
    box-shadow: 0px 15px 25px -5px rgba(darken((0,0,0,0.24),40%));
    transform: scale(1.05);
    /* animation-play-state: paused; */
}

.modal-button:active {
  opacity: 1;
  box-shadow: 0px 4px 8px  rgba(darken((0,0,0,0.24), 30%));
  transform: scale(.90);
}

.pause-animation {
  animation-play-state: paused;
}

.modal {
  z-index: 2;
}

.title-contact {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
  color: var(--tertiary-color);

}
.contact-line {
 
  border-top: 1px solid var(--quarternary-color);
  text-align:left; 
}

.name {
  margin: 5% 10% 5%;
  height: 2.260738507912585vh;
  /* border: 1px solid black; */

}
.modal-element {
  margin: 5% 10% 5%;
  height: 2.260738507912585vh;
  /* border: 1px solid black; */
}

.modal-textarea {
  position: relative; 
  float: right;
  width: 300px;
  height: 180px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 20px;
}

.modal-label { 
  /* margin: 5px; */
  width: 2vw;
  overflow: auto;
  font-family: sans-serif;
  font-weight: bold;
  font-size:20px;
  color:#444;
  text-shadow:0 0 2px #ddd;
  /* padding:1.5071590052750565vh,  0.390625vw; */
  /* border: 1px solid black; */
}

.modal-input {
  position: relative; 
  float:right;
  width: 300px;
  border:1px solid grey;
  border-radius:7px;
  font-size:16%;
  padding:9px 0 9px 1px;
  font-size: 20px;
}

.modal-input:focus { 
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed; 
}


.select-agents {
  /* display: inline-block; */
  box-sizing: border-box;
  float: right;
  border: 1px solid grey ;
  border-radius:7px;
  width: 300px;
  font: inherit;
  font-size: 20px;
  color: grey;

}

.select-agents:focus { 
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.submit-button {
  background-color: var(--quinary-color);
  color: var(--quarternary-color);
  padding: 5px 10px;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  border-radius: 5px;
  opacity: .8;
  transition: .3s;
  /* position: fixed;
  top: 71vh;
  left: 48vw; */
  width: 150px;
}

.submit-button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.mover {
  width: 50px;
  height: 50px;
  background: #f06d06;
  border-radius: 50%;
  animation: move 5s infinite ease-in-out;
}

@keyframes move {
  20%, 100% {
    opacity: 0;
    transform: translate(200px, 0);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.area {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #f06d06;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .modal-button-text:before {
    content: '';
  }

  .modal-button {
    border-radius: 50px;
    padding-bottom: 10px;
  }

  .background {
    background: url('./images/background-small.jpg');
    background-position: center;
    background-size: cover;
  }
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */